body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #2934b4;
  background: linear-gradient(45deg, #050939, #131c80);
  font-family: sans-serif;
  line-height: 1;
}

header {
  width: 100%;
  max-width: 1400px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(239, 252, 255, 0.45);
}

.header__form {
  display: flex;
  gap: 8px;
}

.header__logo {
  color: #effcff;
  font-size: 24px;
  letter-spacing: 1px;
}

.header__select {
  padding: 8px;
  outline: unset;
  border: none;
  border-radius: 24px;
}

.header__form button {
  appearance: none;
  outline: none;
  background: #effcff;
  padding-inline: 16px;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 24px;
  cursor: pointer;
  background: transparent;
  color: #effcff;
  border: 1px solid #effcff;
  transition: 300ms;
}

.header__form button:hover {
  color: #2934b4;
  background: #effcff;
}

main.weather {
  width: 100%;
  max-width: 1400px;
  height: calc(100% - 72px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__emptystate.weather__emptystate {
  color: #effcff;
  font-size: 48px;
}

.weather__emptystate.weather__emptystate--hidden {
  display: none;
}

.weather__data.weather__data {
  flex-grow: 1;
  padding: 46px 56px 64px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.weather__data.weather__data--hidden {
  display: none;
}

.weather__location {
  margin-bottom: 104px;
}

.weather__location .weather__city {
  color: #effcff;
  font-size: 72px;
  margin: 0;
}

.weather__location .weather__date {
  color: rgba(239, 252, 255, 0.65);
  font-size: 32px;
  margin-top: 12px;
  text-transform: capitalize;
}

.weather__info {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.weather__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather__left > div {
  display: flex;
  align-items: center;
}

.weather__left .weather__value {
  flex-grow: 0;
  flex-shrink: 0;
}

.weather__temperature {
  color: #effcff;
  font-size: 192px;
  line-height: 0.75;
}

.weather__description {
  color: rgba(239, 252, 255, 0.65);
  font-size: 32px;
}

.weather__description::first-letter {
  text-transform: uppercase;
}

.weather__divider {
  width: 2px;
  background: rgba(239, 252, 255, 0.45);
  margin-block: -20px;
}

.weather__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 12px;
  column-gap: 80px;
  row-gap: 60px;
}

.weather__right .weather__label {
  color: rgba(239, 252, 255, 0.65);
  font-size: 20px;
}

.weather__right .weather__value {
  color: #effcff;
  font-size: 40px;
}
